 #main {
   display: flex;
   min-height: calc(100vh - 6vh);
}
 #main > nav {
   flex: 0 0 15vw;
   background: beige;
}
#main > article {
  flex: 1;
}
header, nav, article {
  text-align: center;
}
header {
   background-image: linear-gradient(to bottom right, rgb(149, 181, 207), rgb(15, 104, 187));
   height: 6vh;
}
img {
  margin: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50px;
}
#nav-container {
  margin: auto;
  width: fit-content;
  padding: 15px;
  text-align: center;
}
.btn {
  display: block;
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  transition: .1s;
  background-color: transparent;
}
.btn:active {
  -ms-transform: translate(3px);
  -webkit-transform: translate(3px);
  transform: translate(3px);
}
.btn:hover {
  background: rgb(107, 176, 216);
  color: white;
}
